.formstyle{
    align-items: center !important;
    text-align: center !important;
    border: 2px solid white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3) !important;
    background-color: white;
    /*background-color: #00a0e1;
    background-color: #87cfeb69;*/
    color: #00a0e1;
    margin-bottom: 30px;
}

.formtext{
    font-weight: 900 !important;
}