/* Allgemeine Seiteinstellungen */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f7ff;
  margin: 0;
  padding: 0;
}

.hero-section {
  background-color: #e6f3ff;
  padding: 50px 0;
}

.hero-title {
  font-weight: bold;
  color: #00a0e1;
}

.hero-image {
  width: 100%;
  height: auto;
}

.features {
  margin-top: 30px;
}

.feature-card {
  text-align: center;
  padding: 20px;
  box-shadow: none;
  border: none;
}

.feature-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.stats-section {
  background-color: #ffffff;
  text-align: center;
    margin-top: -70px; /* Negativer Wert, um den Abstand zu verringern */
    padding: 20px 0; /* Optional, um etwas Padding zu geben */


}

.appointment-section {
  background-color: #f0f7ff;
  padding: 50px 0;
}

.footer {
  background-color: #00a0e1;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}
.psychologistImage {
  max-width: 100%; /* Damit das Bild responsiv bleibt */
  height: auto;    /* Beibehaltung des Seitenverhältnisses */
  display: block;  /* Verhindert, dass das Bild inline behandelt wird */

}



