body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f7ff;
  margin: 0;
  padding: 0;
}

.hero-section {
  background-color: #e6f3ff;
  padding: 50px 0;
}

.hero-title {
  font-weight: bold;
  color: #00a0e1;
}

.hero-image {
  width: 100%;
  height: auto;
}

.features {
  margin-top: 30px;
}

.feature-card {
  text-align: center;
  padding: 20px;
  box-shadow: none;
  border: none;
}

.feature-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.stats-section {
  background-color: #ffffff;
  text-align: center;
  margin-top: -70px;
  padding: 20px 0;
}

.appointment-section {
  background-color: #f0f7ff;
  padding: 50px 0;
}

.footer {
  background-color: #00a0e1;
  color: #ffffff;
  padding: 20px;
  text-align: center;
  margin-top: 50px;
}
.psychologistImage {
  max-width: 100%;
  height: auto;
  display: block;

}

.resources-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.resources-title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.resources-subtitle {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #555;
}

.exercise-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  width: 300px;
  background-color: #f9f9f9;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.exercise-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.exercise-type {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.exercise-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

.exercise-steps {
  text-align: left;
  flex-grow: 1;
}

.exercise-step {
  font-size: 1.1em;
  margin: 5px 0;
}

.resources-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  align-items: stretch;
}